<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <title>{{ quote }} button</title>
    </head>
    <body>
    <font size="4">
        <h1>{{ quote }} button</h1>

        {% if member != None %}
        <p>{{ quote_sys }}, {{ member }}!!</p>
        <p>Message was sent to mattermost.</p>
        {% elif member == None %}
        <p>These button can send {{ quote }} message to mattermost. {{ quote_inv }} buttons are <a href="{{ URL }}/hello_button/index?quote={{ quote_inv }}">HERE</a></p>
        <p>Who are you?</p>
        {% endif %}

        <ul id="member_list">
            {% if member == None %}
                {% for obj in object_list %}
                <li><a href="{{ URL }}/hello_button/index?member={{ obj.name }}&quote={{ quote }}">{{ obj.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </font>
    <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>
