<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        {% if debug == True %}
        <title>hello button (local)</title>
        {% elif debug == False %}
        <title>hello button<title/>
        {% endif %}
    </head>
    <body>
    <font size="5">
        <h1>HELLO button</h1>

        {% if member != None %}
        <p>Welcome back, {{ member }}!!</p>
        <p>Press Esc to exit.</p>
        {% elif member == None %}
        <p>Who are you?</p>
        {% endif %}

        <ul id="member_list">
            {% if member == None %}
                {% for obj in object_list %}
                    {% if debug == True %}
                    <li><a href="http://localhost:8000/hello_button/index?member={{ obj.name }}">{{ obj.name }}</a></li>
                    {% elif debug == False %}
                    <li><a href="https://virtual-esslab.herokuapp.com/hello_button/index?member={{ obj.name }}">{{ obj.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </font>
    <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>
